@import "./tailwind.css";
@import "./fonts.css";
@import "./typography.css";

@layer base {
  *:focus {
    outline: none;
  }

  body {
    font-family: "Pretendard Variable", sans-serif;
    font-synthesis: none;
    background-color: #ffffff;
    color: #33363d;
    box-sizing: border-box;
  }

  .mainpage-banner-shadow {
    box-shadow: 0px -144px 146px 0px rgba(32, 51, 73, 0.76) inset;
  }

  .info-postcard-shadow {
    box-shadow: 0px -85px 50px 0px rgba(32, 51, 73, 0.75) inset;
  }

  .modal-shadow {
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.37);
  }

  .userProfile-shadow {
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .sidebar {
    position: fixed;
    top: 84px;
    right: 240px;
    width: 591px;
    height: 525px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
  }

  .sidebar.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(-20px);
  }
}
